.button{
    background-color: rgb(215, 215, 215);
    cursor: pointer;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 15px;
    font-weight: 500;
    margin-right: 20px;
    border-radius: 10%;
    border: 1px solid black;
    &:hover{
        background-color: rgb(82, 82, 226);
        color: white;
        border: 1px solid white;
    }
}